# phpstorm project files
.idea
# netbeans project files
nbproject
# visual studio code project files
.vscode

# composer vendor dir and composer itself
/vendor
/composer.phar
/composer.lock

# node modules
/node_modules
/package-lock.json

# Windows thumbnail cache
Thumbs.db
# Mac DS_Store Files
.DS_Store
# Any .log file
*.log
# database import
*.sql.zip

/index.php
/robots.txt

# yii console commands
/yii
/yii.bat
/yii_test
/yii_test.bat

# main-local.php files from environments (contains database connection data)
/environments/dev/common/config/main-local.php
/environments/prod/common/config/main-local.php
/frontend/web
/backend/web

# vagrant runtime
/.vagrant

