@import "./../functions";

.clear {
    clear: both;
}

.hidden-field {
    display: none;
}

.main-header {
    z-index: 990 !important;
}

.well.no-border-radius {
    border: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.iziModal .iziModal-button-fullscreen {
    display: block !important;
    transition: none !important;

    &:hover {
        transform:none !important;
    }
}
.iziModal .iziModal-button-close {
    transition: none !important;

    &:hover {
        transform: none !important;
    }
}
.iziModal-loader {
    background-size: 3.5% !important;
}

.help-block {
    display: none;
}

// Some hacks to remove certain things from the AdminLTE theme
// and other widgets

aside.main-sidebar,
footer.main-footer {
    border: 0 !important;
}

body.skin-blue {
    aside.main-sidebar {
        .sidebar-menu {
            li.active {
                a {
                    border-left-color: #fff !important;
                }
            }
        }
    }
}

span.left-menu-text {
    text-transform: uppercase;
    font-weight: 600;
}

.btn-style {
    font-size: 17px;
}

.table-colored {
    table {
        thead {
            background-color: #cee5f6;
        }

        td {
            background-color: #cee5f6;
        }
    }
}

h3.panel-title {
    font-size: 24px;
    color: #3c8dbc;
}

hr.grey-dark {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.panel-before {
    padding: 10px 0 10px 0;
}

.dropdown-menu {
    min-width: 10px !important;
}

ul.noindent {
    margin: 0;
    padding: 0;
    list-style: none;
}

.i.info {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.btn-info-i {
    background-color: transparent;
    border: none;
}

div.alert {
    span.icon {
        float: left;
    }
    span.text {
        width: 80%;
        float: left;
        margin-left: 15px;
    }
}

// remove left/right padding when
// nesting rows/columns in form
.row > div[class*="col-"] > .row > div[class*="col-"] {
    padding: 0;
}

// make the index gridview background a little grey
div[class*="-index"] > div[class="grid-view"] > div.panel.panel-default {
    background-color: #f5f5f5;
}

// make the file icons in the gridview a little smaller
// than in the kartik fileinput
div[class*="index"] .file-other-icon {
    font-size: 1.8em;
}

// add sortable icons on the kartik gridview
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: FontAwesome, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: "\f15d";
}
a.desc:after {
    content: "\f15e";
}
.sort-numerical a.asc:after {
    content: "\f162";
}
.sort-numerical a.desc:after {
    content: "\f163";
}
.sort-ordinal a.asc:after {
    content: "\f160";
}
.sort-ordinal a.desc:after {
    content: "\f161";
}

/*-- Css for nicer display of boolean yes/no values --*/
.boolean-true {
    font-weight: bold;
    color: green;
}
.boolean-false {
    font-weight: bold;
    color: #e13431;
}

/*-- Css for nicer display of user roles --*/
.role-developer {
    font-weight: bold;
    color: black;
}
.role-consultant {
    font-weight: bold;
    color: teal;
}
.role-admin {
    font-weight: bold;
    color: #c4a500;
}
.role-TD {
    font-weight: bold;
    color: #800080;
}
.role-RH {
    font-weight: bold;
    color: #009d00;
}
.role-worker {
    font-weight: bold;
    color: #4c4cff;
}
.role-reader {
    font-weight: bold;
}

@import './components/language-nav';
@import 'components/treeview';
@import 'components/bootstrap-call-out';
@import 'pages/chemicals';
@import 'pages/dashboard';
@import 'pages/actions';