// ********************************** Color variables

$green: #64C3AD;
$blue: #269DBC;
$blue1: #26B1E4;
$grey: #ABA7A7;
$grey-darker: #807E7E;
$grey-dark: #565556;
$white: #fff;


// *********************************** Font Style

$font-family-title-1: 'Arial';
$font-family-global: 'Lato', sans-serif, serif, arial, verdana;
