table.context {
    width: 100%;

    tr, td, th {
        padding: 10px;
        vertical-align: top;
    }
    th {
        width: 150px;
        border-right: 1px solid #ccc;
    }
    tr {
        border: 1px solid #ccc;
    }
    img {
        width: 150px;
    }
}
