.select2-selection__choice .text-danger-picto {
    display: none;
}

div#consumption .select2-selection__rendered {
    width: 120px;
}

.select2-container--krajee .select2-selection {
    box-shadow: none !important;
}

#select2-chemicals-fire_result-results,
#select2-chemicals-health_result-results,
#select2-chemicals-env_result-results {
    display: none !important;
}

.field-chemicals-health_result,
.field-chemicals-env_result,
.field-chemicals-fire_result {
    position: relative;
    top: 0;

    .select2-selection__arrow {
        display: none;
    }

    span {
        cursor: auto !important;
        background-color: transparent !important;
        border: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    label {
        display: block;
        position: absolute;
        bottom: -22px;
        left: 50%;

        @include transform(translate(-50%, 0));

        color: #262f38 !important;
        font-size: 11px;
        padding: 1.7px;
        border-radius: 2px;
    }

    i {
        display: block;
        position: absolute;
        left: 50%;

        @include transform(translate(-50%, 0));
    }
}