// ====== Dashboard view styles

div.dashboard-view {

    // Todos boxes and tabs

    .board {
        width: 100%;
        height: auto;

        div.board-inner {
            background: #77b2d4;
            width: 100%;
            margin: 0 auto;
            position: relative;
            border-radius: 5px 5px 0 0;
        }

        div.tab-content {
            background-color: #fff;
            border: 1px solid #77b2d4;
            border-radius: 0 0 3px 3px;
        }

        // -> boxes

        #box {
            color: #fff;
            height: 130px;
            margin-bottom: 20px;
            position: relative;

            .small-box {
                height: 100%;

                @include transition(all .2s ease);
                @include box-shadow(none);

                &:hover {
                    .icon {
                        opacity: .4;
                        font-size: 90px;
                    }
                }
            }

            .icon {
                color: #fff;
                opacity: .2;
                transition: all .3s ease;
            }

            .small-box-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 26px;
                background-color: rgba(0, 0, 0, .1);
                font-size: 13px;
            }
        }

        // -> tabs

        .nav-tabs {
            position: relative;
            margin: 0;
            border: 0;

            @include flexbox();

            align-items: center;

            span.number-items-circle {
                width: 21px;
                height: 21px;
                line-height: 21px;
                background-color: #6aa8d4;
                text-align: center;
                color: #fff;
                font-weight: bold;
                border-radius: 50%;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
                font-size: 12px;
            }

            span.round-tabs {
                width: 70px;
                height: 70px;
                line-height: 70px;
                display: inline-block;
                position: absolute;
                left: 0;
                text-align: center;
                font-size: 30px;
                background: rgba(255, 255, 255, .1);
                color: #fff;
                z-index: 1;
                border: 0;
                border-radius: 50%;

                @include transition(all .2s ease);

                &:hover {
                    background-color: #fff;
                    color: #519cc8;
                }
            }

            li {
                width: 20%;
                padding: 20px;

                a {
                    width: 70px;
                    height: 70px;
                    padding: 0;
                    border: 0;
                    margin: 0 auto;
                    display: block;
                    background-color: transparent;
                    border-radius: 50%;
                }

                &.active {
                    span.round-tabs {
                        background-color: #fff;
                        color: #3c8dbc;
                    }

                    &:after {
                        content: " ";
                        position: absolute;
                        left: 47%;
                        opacity: 1;
                        margin: 0 auto;
                        bottom: 0;
                        border: 10px solid transparent;
                        border-bottom-color: #fff;
                    }
                }
            }

        }

        .tab-pane {
            position: relative;
            padding-top: 20px;
        }

        // -> responsive mode

        @media (max-width: 916px) {
            .nav-tabs {

                span.number-items-circle {
                    width: 15px;
                    height: 15px;
                    line-height: 15px;
                    top: -5px;
                }

                span.round-tabs {
                    font-size: 16px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }

                li {
                    padding: 10px;
                }

                li a {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }

                li.active:after {
                    content: " ";
                    position: absolute;
                    left: 44%;
                    border: 5px solid transparent;
                    border-bottom-color: #fff;
                }
            }
        }
    }

}
